@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
  @apply top-6;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  transition: background var(--speed);
  padding: 0.5rem;
}

@layer components {
  .gallery-tile {
    @apply relative cursor-pointer overflow-hidden mb-0;
    min-width: 16rem;
    min-height: 14rem;
  }
  .gallery-img {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    transition: transform 0.5s, filter 0.25s;
  }
  .btn-nav {
    @apply px-4 py-2 md:py-0 text-gray-200 transition duration-500 ease-in-out hover:text-indigo-500 border-t md:border-t-0 md:border-l border-gray-400 cursor-pointer;
  }

  .btn-nav-end {
    @apply px-4 py-2 md:py-0 text-gray-200 transition duration-500 ease-in-out hover:text-indigo-500 border-t border-b md:border-t-0 md:border-b-0 md:border-l md:border-r border-gray-400 cursor-pointer;
  }

  .btn-page {
    @apply border-gray-400 text-gray-400 rounded-sm border-2 max-h-full p-1 transition duration-500 ease-in-out hover:bg-gray-400 hover:text-white;
  }

  .btn-exit {
    @apply border-red-400 text-red-400 rounded-sm border-2 max-h-full px-2 transition duration-500 hover:bg-red-400 hover:text-white;
  }

  .btn-sidebar {
    @apply fixed inset-y-0 left-0 px-1 mt-2 max-h-full bg-white text-gray-500 border border-gray-500 transition duration-500 ease-in-out hover:bg-gray-700 hover:text-white hover:border-gray-700 lg:hidden;
  }

  .btn-subtle {
    @apply p-2 border transition duration-100;
    border-color: #B7E2FF;
  }
  .btn-subtle:hover {
    background-color: #B7E2FF;
  }

  .input-pri {
    @apply p-1 placeholder-gray-400 text-gray-600 border outline-none transition duration-300 ease-in-out focus:ring-2 ring-gray-200;
    max-width: 11rem;
  }

  .main-underline {
    border: 2px solid #F44336;
    width: 5rem;
    height: 1px;
  }
  
  .content-container {
    @apply container mx-auto flex flex-row min-h-screen h-full;
  }
}
